{% extends "gamelogic/index.html" %}
{% comment %}
{% endcomment %}

{% block content %}
<h3>Public votes TODO CLEAN UP TEMPLATE USING STRING INTERPOLATION / gettext / check SQL queries</h3>
<div class="system">
{% for vote in object_list%}
{% ifequal vote.vote  1 %}
On {{vote.time_stamp|date:"D d M Y"}} at {{vote.time_stamp|date:"H:i"}} <a href="/accounts/profile/{{vote.owner.username}}/">{{vote.owner}}</a> voted <span class="for">for</span>
<a href="{% url issue_detail vote.issue.pk %}">{{vote.issue.title}}</a><br>
{% endifequal %}
{% ifequal vote.vote  -1 %}
On {{vote.time_stamp|date:"D d M Y"}} at {{vote.time_stamp|date:"H:i"}} <a href="/accounts/profile/{{vote.owner.username}}/">{{vote.owner}}</a> voted <span class="against">against</span> 
<a href="{% url issue_detail vote.issue.pk %}">{{vote.issue.title}}</a><br>
{% endifequal %}

{% ifequal vote.vote  0 %}
On {{vote.time_stamp|date:"D d M Y"}} at {{vote.time_stamp|date:"H:i"}} <a href="/accounts/profile/{{vote.owner.username}}/">{{vote.owner}}</a> voted blank on 
<a href="{% url issue_detail vote.issue.pk %}">{{vote.issue.title}}</a> with the motivation <em>{{vote.motivation}}</em><br>
{% endifequal %}

{% endfor%}
</div>

<span class="system">
{% if page_obj.has_previous %}
<a href="?page={{page_obj.previous_page_number}}">previous</a>
{% endif %}
page {{page_obj.number}} of {{paginator.num_pages}}
{% if page_obj.has_next %}
<a href="?page={{page_obj.next_page_number}}">next</a>
{% endif %}
</span>




{% endblock %}
