{% extends "base_content.html" %}
{% load i18n %}
{% load voting_tags %}

{% block content %}

{% votes_by_user user on issues as vote_dct %}
{% vote_counts_for_objects issues as counts_dct %}

<div class="issues"> 
{% block propose %} {% endblock %}
{% block issue_menu %}
<h2>{% trans "Vote!"%}</h2> 

{% if sort_url %}
{% else %}
    {% url laws as sort_url %}
{% endif %}
<h4> | <a href="{{ sort_url }}popular"
    {% ifequal sortorder 'popular'%}class="selected"{% endifequal %}
>{% trans 'popular' %}</a> |
    <a href="{{ sort_url }}controversial"
    {% ifequal sortorder 'controversial'%}class="selected"{% endifequal %}
>{%trans 'controversial' %}</a> | 
    <a href="{{ sort_url }}new"
    {% ifequal sortorder 'new'%}class="selected"{% endifequal %}
>{% trans 'new' %}</a> |
    <a href="{{ sort_url }}for"
    {% ifequal sortorder 'for'%}class="selected"{% endifequal %}
>{% trans 'for' %}</a> | 
    <a href="{{ sort_url }}against"
    {% ifequal sortorder 'against'%}class="selected"{% endifequal %}
>{% trans 'against' %}</a> |
    <a href="{{ sort_url }}unseen"
    {% ifequal sortorder 'unseen'%}class="selected"{% endifequal %}
>{% trans 'unseen' %}</a> |
</h4>
{% endblock %}

<ul>
{% for issue in issues %}
{% dict_entry_for_item issue from vote_dct as vote %}
{% dict_entry_for_item issue from counts_dct as score %}
{% if not vote %}
    {% dict_entry_for_item issue from request.session.vote_history as vote %}
{% endif %}

<li id="id{{ issue.pk }}" class="issue {% cycle '' 'even' %}">
{% block issue %}
{% include "issue/issue.html" %}
{% endblock %}
</li>

{% endfor %}

</ul>

{% include "pagination.html" %}

</div>
{% endblock %}

{%block sidebar %}
    {% include "issue/tag_cloud.html" %}
{% endblock %}

{% block extra_head %}    
    {{ block.super }}
    <script type="text/javascript" src="/media/js/vote.js"></script>
{% endblock %}
