{% extends "base_content.html" %}
{% load i18n %}
{% load voting_tags %}

{% block content %}

{% votes_by_user user on issues as vote_dct %}
{% vote_counts_for_objects issues as counts_dct %}

<div class="issues"> 
{% block propose %} {% endblock %}
{% block issue_menu %}
<h2> {% trans "Vote!"%} </h2> 
<h4> | <a href="{% url issue_list 'popular' %}"> {% trans 'popular' %} </a> |
    <a href="{% url issue_list 'for' %}">{% trans 'for' %}</a> | 
    <a href="{% url issue_list 'controversial' %}">{%trans 'controversial' %}</a> | 
    <a href="{% url issue_list 'against' %}">{% trans 'against' %}</a> |
    <a href="{% url issue_list 'new' %}">{% trans 'new' %}</a> |
    <a href="{% url issue_list 'unseen' %}">{% trans 'unseen' %}</a> |
</h4>
{% endblock %}

<ul>
{% for issue in issues %}
{% dict_entry_for_item issue from vote_dct as vote %}
{% dict_entry_for_item issue from counts_dct as score %}
{% if not vote %}
    {% dict_entry_for_item issue from request.session.vote_history as vote %}
{% endif %}

{% block issue %}
{% include "issue/issue.html" %}
{% endblock %}

{% endfor %}
</ul>

{% include "pagination.html" %}

</div>
{% endblock %}

{%block sidebar %}
    {% include "dashboard/tag_cloud.html" %}
{% endblock %}

{% block extra_head %}    
    {{ block.super }}
    <script type="text/javascript" src="/media/js/vote.js"></script>
{% endblock %}
