{% load i18n %}
{% load tagging_tags %}
<h2><a href="/">{% trans "Subjects" %}</a></h2>
<div id="tags">
{% if issue_tags %}
{% else %}
    {% tag_cloud_for_model issue.issue as issue_tags with steps=5 min_count=2 distribution=log %}
{% endif %}

{% for tag in issue_tags %}
{% if selected_tag == tag.name %}
<a href="{% url issue_with_tag tag.name %}"><font class="selected" size="{{ tag.font_size }}">{{ tag.name }}</font></a>
{% else %}
<a href="{% url issue_with_tag tag.name %}"><font size="{{ tag.font_size }}">{{ tag.name }}</font></a>
{% endif %}
{% endfor %}
</div>
