{% extends "emocracy_core/index.html" %}

{% block content %}
    <h3>List of Polls</h3>
<div class="system" style="margin:2em">
{% for poll in object_list%}
    <a href="{% url poll_result poll.pk %}">{{poll.title}}</a><br />
{% endfor %}
</div>
<div class="system" style="clear:both;padding:0em 2em 0em 2em">
    {% if page_obj.has_previous %}
    <a href="?page={{page_obj.previous_page_number}}">previous</a>
    {% endif %}
    page {{page_obj.number}} of {{paginator.num_pages}}
    {% if page_obj.has_next %}
    <a href="?page={{page_obj.next_page_number}}">next</a>
    {% endif %}
</div>
{% endblock %}
