{% load i18n %}
	<div class="sidebarblock">
{% if user.is_authenticated %}
    <p>
    {% blocktrans with user.get_profile.role as role %}  
        As a {{role}} you can: 
    {% endblocktrans %}
    <ul>
    {% for  action in actions %}
        <li>{% trans action %}</li>
    {% endfor %}
    </ul>
    {% if actions.propose %}
       {# <a href="{% url issue_propose %}">{% trans "propose issue" %}</a> #}
    {% endif %}
    
    
    {% if unavailable_actions %}
        <ul>
        {% trans "You are missing the following actions: " %}
        {% for action,level in unavailable_actions.items %}
            <li>{% trans action %} - {% trans level %}</li>
        {% endfor %}
        </ul>
    {% endif %}
    <p/>
{% else %}

    <p>
    <a href="{% url registration_register %}">{% trans "register" %} </a>
    <a href="{% url auth_login %}">{% trans "log in" %} </a>.
    </p>

{% endif %}
    <p>
    <form action="/i18n/setlang/" method="post">
        {# <input name="next" type="hidden" value="/next/page/" /> #}
        <select name="language">
            {% for lang in LANGUAGES %}
                <option value="{{ lang.0 }}">{{ lang.1 }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Go" />
    </form>
    </p>
</div>
