{% load i18n %}

	<div class="sidebarblock">
{% if user.is_authenticated %}
		<h3>{{user.username}}</h3>
        <p> ranking: {{userprofile.ranking }}</p>
		<p>

        {% blocktrans with userprofile.role as role and userprofile.score as score and userprofile.total_for as total_for and userprofile.total_against as total_against and userprofile.total_blank as total_blank %} 

        Your current <a href="http://democracy.nl/wiki/index.php/Burger">{{role}}</a>.<br />
		Your current <a href="http://democracy.nl/wiki/index.php/Punten">score</a> is {{score}}<br /><br />
		votes for : {{total_for}} <br />
		votes against : {{total_against}}<br />
		votes blank : {{total_blank}}<br /><br />

        {% endblocktrans %}
        <p/>
        <p>
        {% blocktrans with userprofile.role as role %}  
                As a {{role}} you currently can: 
        {% endblocktrans %}
        <br />
        {% for  action in actions %}
            {{ action }} <br />
            
        {% endfor %}

        {% if actions.propose %}
		<a href="{% url web_issue_propose %}">{% trans "propose issue" %}</a><br /><br />
        {% endif %}
        <p/>
        <p>
        {% if unavailable_actions %}
            {% trans "You are missing the following actions: " %}
            <br/> ACTION - required level
            {% for action,level in unavailable_actions.items %}
            <br/> {{ action }} - {{ level }}
            {% endfor %}
        {% endif %}
	    <p/><p>	
		<a href="{% url web_issue_list %}">{% trans "all issues" %}</a><br />
		<a href="{% url web_issues_for_user user.username %}">{% trans "my issues" %}</a><br />
		<a href="{% url web_votes_for_user user.username %}">{% trans "my votes" %}</a><br /><br />
		<a href="{% url web_poll_list %}">{% trans "polls" %}</a><br /><br />
		<a href="{% url userprofile user.username %}">{% trans "my profile" %}</a><br />
		<a href="{% url logout %}">{% trans "log out" %}</a> 
		</p>
{% else %}
            <h3>{% trans "Dear Anonymous" %} </h3>
            <p>{% trans "You are not logged in. You can" %}  <a href="{% url registration_register %}">{% trans "register" %} </a>
            {% trans "a new account or you can" %}  <a href="{% url auth_login %}">{% trans "log in" %} </a>.</p>
            <p>{% trans "Anonymous users can still vote on issues." %} </p>
			<span class="system">
                <a href="{% url web_issue_list %}">{% trans "all issues" %} </a><br />
                <a href="{% url web_poll_list %}">{% trans "polls" %} </a><br /><br />
			</span>
{% endif %}
    <form action="/i18n/setlang/" method="post">
        {# <input name="next" type="hidden" value="/next/page/" /> #}
        <select name="language">
            {% for lang in LANGUAGES %}
            <option value="{{ lang.0 }}">{{ lang.1 }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Go" />
    </form>
</div>
