{% load i18n %}
<div class="system">
{% ifnotequal sort_order "time_stamp" %}<a href="{{request_path}}?sort_order=time_stamp" rel="nofollow">{% trans "most recent" %}</a>{% else %}{% trans "most recent" %}{% endifnotequal %} |
{% ifnotequal sort_order "votes" %}<a href="{{request_path}}?sort_order=votes" rel="nofollow">{% trans "most voted on" %}</a>{% else %}{% trans "most voted on" %}{% endifnotequal %} |
{% ifnotequal sort_order "score" %}<a href="{{request_path}}?sort_order=score" rel="nofollow">{% trans "highest score" %}</a>{% else %}{% trans "highest score" %}{% endifnotequal %} |
{% ifnotequal sort_order "hotness" %}<a href="{{request_path}}?sort_order=hotness" rel="nofollow">{% trans "hottest" %}</a>{% else %}{% trans "currently sorting by hotness" %}{% endifnotequal %}
</div>
