{% load i18n %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head><title>Emocracy (Python/Django implementation -- 3-2009 branch version)</title>
<link href="/media/index.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/media/jquery.js"></script>
</head>
<body>
<div id="header">
    <h1><a href="{% url web_issue_list %}">{% trans "EMOCRACY" %}</a></h1><div id="thegame"> {% trans "[ the game ]" %} </div>
<br />
<a href="{% url web_issue_list %}">{% trans "home" %}</a> | <a href="http://emocracy.nl/wiki/">{% trans "about" %}</a> |
<a href="mailto:webmaster@petities.nl">{% trans "contact" %}</a> | <a href="http://emocracy.nl/wiki/index.php/Bugs">{% trans "bugs" %}</a> | <a href="http://emocracy.nl/wiki/index.php/Wensen">{% trans "wishes" %}</a>
</div>
<div id="messagebar"> {% for m in messages %}{{m}}{% endfor %}</div>
<div>
    <div id="sidebar">
        {% include "web/sidebar.html" %}
    </div>
<div id="content"> 
    {% block content %}
    {% endblock %}
</div>
</div>

<div id="footer"> 


</div>

</body>
</html>
