{% load i18n %}
{% comment %}
TODO : change the poll view so that it does not add a page request parameter
called page, but something like pollpage. Then this template can be simplified
to remove the duplication that is inside of the if show_more_info_link block.
{% endcomment %}


<div class="issueinfo">
        <span class="{{vote_class}}" id="opinion_{{issue.pk}}">{{vote_text}}</span><br /><br />
        {% if show_more_info_link %}
                {% comment %}
                Meaning this sidebar is included from view with several issues
                , do not add page=.. to the request parameters.
                {% endcomment %}
                <a href="{% url issue_detail issue.pk %}">{% trans "more information" %}</a><br />
                {% ifnotequal issue.owner user %}
                        {% if user.is_authenticated %}{% if not tagform %}
                                <a href="{% url issue_detail issue.pk %}?form_type=tagform" class="taglink" id="taglink_{{issue.pk}}">{% trans "add tag" %}</a><br />
                        {% endif %}{% endif %}
                        {% if not voteform %}{% if not voteblankform %}
                                <a href="{% url issue_detail issue.pk %}?form_type=voteform" class="votelink" id="votelink_{{issue.pk}}">vote on this</a><br />
                        {% endif %}{% endif %}
                {% endifnotequal %}
        {% else %}
                {% comment %}
                Meaning this sidebar is in a view showing only one issue if
                there is a page=.. request parameter we are dealing with a poll
                add the page=.. to the request parameters.
                {% endcomment %}
                {% ifnotequal issue.owner user %}
                        {% if user.is_authenticated %}{% if not tagform %}
                                <a href="?{% if current_page.number %}page={{current_page.number}}&{% endif %}form_type=tagform" class="taglink" id="taglink_{{issue.pk}}">{% trans "add tag" %}</a><br />
                        {% endif %}{% endif %}
                        {% if not voteform %}{% if not voteblankform %}
                                <a href="?{% if current_page.number %}page={{current_page.number}}&{% endif %}form_type=voteform" class="votelink" id="votelink_{{issue.pk}}">vote on this</a><br />
                        {% endif %}{% endif %}
                {% endifnotequal %}
        {% endif %}
        <br />
        {% trans "score" %} : <span id="score_{{issue.pk}}">{{issue.score}}</span> <br />
        {% trans "votes" %} : <span id="votes_{{issue.pk}}">{{issue.votes}}</span> <br /><br />
        Tags :
        {% for tag in tags %}
        <a href="{% url issue_list_tag tag.pk %}">{{tag}}</a>
        {% endfor %}
</div>
