{% load i18n %}
<div class="issuebody">
    <h3>{{issue.title}}</h3>
    <span class="system">{% trans "by" %} <a href="{% url userprofile issue.owner.username %}">{{issue.owner.username}}</a> {% trans "on" %} {{issue.time_stamp|date:"l d n Y"}} {% trans "at" %} {{issue.time_stamp|time:"H:i"}}</span>
    {{issue.body|striptags|linebreaks|truncatewords_html:200}}
    <div class="system">
		{% trans "source" %} : {{issue.url|urlizetrunc:30}}
    {% ifnotequal issue.owner user %}
	<br /><br />
        {% if not voteform %}{% if not voteblankform %}
            <a href="{% url web_issue_detail issue.pk %}?form_type=voteform" class="votelink" id="votelink_{{issue.pk}}">vote on this</a>
        {% endif %}{% endif %}
        {% if user.is_authenticated %}{% if not tagform %}
            <a href="{% url web_issue_detail issue.pk %}?form_type=tagform" class="taglink" id="taglink_{{issue.pk}}">{% trans "add tag" %}</a><br />
        {% endif %}{% endif %}
    {% endifnotequal %}
    </div>
</div>
