{% load i18n %}
{% comment %}
TODO : Create a translated block for the logged in version of the sidebar.
{% endcomment%}


	<div class="sidebarblock">
{% if user.is_authenticated %}
		<h3>{{user.username}}</h3>
		<p>
		{% if userprofile %}
        {% blocktrans with userprofile.role as role and userprofile.score as score and userprofile.total_for as total_for and userprofile.total_agains as total_against and userprofile.total_blank as total_blank %} Your are currently a <a href="http://emocracy.nl/wiki/index.php/Burger">{{role}}</a>.<br />
		Your current <a href="http://emocracy.nl/wiki/index.php/Punten">score</a> is {{score}}<br /><br />
		You voted for {{total_for}} times.<br />
		You voted against {{total_against}} times.<br />
		You voted blank {{total_blank}} times.<br /><br />
        {% endblocktrans %}
		{% endif %}
		
		<a href="{% url web_issue_list %}">{% trans "all issues" %}</a><br />
		<a href="{% url web_issues_for_user user.username %}">{% trans "my issues" %}</a><br />
		<a href="{% url web_issue_propose %}">{% trans "propose issue" %}</a><br /><br />
		<a href="{% url web_votes_for_user user.username %}">{% trans "my votes" %}</a><br /><br />
		<a href="{% url web_poll_list %}">{% trans "polls" %}</a><br /><br />
		<a href="{% url userprofile user.username %}">{% trans "my profile" %}</a><br />
		<a href="{% url logout %}">{% trans "log out" %}</a> 
		</p>
{% else %}
            <h3>{% trans "Dear Anonymous" %} </h3>
            <p>{% trans "You are not logged in. You can" %}  <a href="{% url registration_register %}">{% trans "register" %} </a>
            {% trans "a new account or you can" %}  <a href="{% url auth_login %}">{% trans "log in" %} </a>.</p>
            <p>{% trans "Anonymous users can still vote on issues." %} </p>
			<span class="system">
                <a href="{% url web_issue_list %}">{% trans "all issues" %} </a><br />
                <a href="{% url web_poll_list %}">{% trans "polls" %} </a><br /><br />
			</span>
{% endif %}
<form action="/i18n/setlang/" method="post">
    {# <input name="next" type="hidden" value="/next/page/" /> #}
    <select name="language">
        {% for lang in LANGUAGES %}
        <option value="{{ lang.0 }}">{{ lang.1 }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Go" />
</form>
		</div>
