{% load i18n %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head><title>Democracy</title>
<link href="/media/index.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/media/jquery.js"></script>
{% block extra_head %} 
{% endblock %}
</head>

<body>
<div id="header">
<a href="/">{% trans "home" %}</a> | <a href="http://democracy.nl/wiki/">{% trans "about" %}</a> |
<a href="mailto:webmaster@petities.nl">{% trans "contact" %}</a> | <a href="http://democratiespel.nl/wiki/index.php/Bugs">bugs</a> | <a href="http://democracy.nl/wiki/index.php/Wensen">{% trans "wishes" %}</a>

<div id="userbar">
{% block userbar %}
{% endblock %}
</div>

</div>

<div id="messagebar"> 
    {% block messagebar %} 
    {% endblock %}
</div>
<div> <div id="sidebar">
  {% block sidebar %}
  {% endblock %}
</div> <div id="content">
    {% block content %}
    {% endblock %}
</div></div>

<div id="footer">
 {% block footer %}
 {% endblock %}
</div>

</body>
</html>
