{% extends "base.html" %}
{% load i18n %}
{% load chunks %}
{% block mainmenu %}
&nbsp;
    <ul>
    <li><a href="{% url index %}"> {% trans "all issues" %} </a></li>
    <li><a href="{% url my_issues %}"> {% trans "your issues" %} </a></li>
    <li><a href="{% url ranking %}"> {% trans "members" %} </a></li>
    <li><a href="{% url juni_2010 %}"> {% trans "stemadvies" %} </a></li>
    <li><a href="http://www.democratiespel.nl/wiki/">help</a></li>
    </ul>
{% endblock %}

{% block gamenews %}
<h2>.<img src="/media/img/chart_bar.png" alt=""/></h2>
    {% block search %}
        <form action="{% url search_issue %}" method="get">
            <input type="text" id="searchbox" name="searchbox"/>
            <input type="submit" name="search" value="{% trans "search issue" %}"/>
        </form>
    {% endblock %}
{% endblock %}

{% block extra_head %}    
    <script type="text/javascript" src="/media/js/search.js"></script>
{% endblock %}
 

{% block userbar %}
    {% include "dashboard/userbar.html" %}
{% endblock %}

{% block messagebar %}
    {% for m in messages %}<div class="notice">{{m}}</div>{% endfor %}
    {% if flash_msg %}<div class="success">{{ flash_msg }}</div>{% endif %}
{% endblock %}

{% block footer %}
   <!-- footer starts here -->  
    <div id="footer-wrap"><div id="footer-content"> 
    
        <div class="col float-left space-sep"> 
            <h2>Site Partners</h2> 
            <ul class="columns"> 
                {% chunk "left_footer_links" %}
            </ul>           
        </div> 
        <div class="col float-left"> 
            <h2>Links</h2> 
            <ul class="columns">                
                {% chunk "middle_footer_links" %}
            </ul> 
        </div>      
    
        <div class="col2 float-right"> 
            <h2>Site Links</h2> 
            <ul class="columns"> 
                {% chunk "right_footer_links" %}
            </ul> 
 
            <p> 
          Except where otherwise noted, content on this site is licensed under a 
        <a rel="license" href="http://creativecommons.org/licenses/by/3.0/" class="subfoot">Creative Commons Attribution 3.0 License</a><br />
        <a href="http://www.bluewebtemplates.com/" title="Website Templates">website templates</a> by <a href="http://www.styleshout.com/">styleshout</a> <br /> 
 
            Valid <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> |
                  <a href="http://validator.w3.org/check/referer">XHTML</a> 
            </p>
            <form action="/i18n/setlang/" method="post">
            <input name="next" type="hidden" value="{{ request.get_full_path }}"/>
            <select name="language" onchange="submit();">
            <option value="">{% trans 'pick language..' %}</option>
            {% for lang in LANGUAGES %}
                <option value="{{ lang.0 }}">{{ lang.1 }}</option>
            {% endfor %}
            </select>
            <input type="submit" value="Go" />
            </form>
        </div> 
        <br class="clear" /> 
    
    </div></div> 
    <!-- footer ends here -->  

{% endblock %}

