{% extends "base.html" %}
{% load i18n %}
{% block mainmenu %}
&nbsp;
    <ul>
    <li><a href="{% url index %}"
    {% ifequal current 'all_issues' %}id="current"{% endifequal %}
> {% trans "all issues" %} </a></li>
    <li><a href="{% url my_issues %}"
    {% ifequal current 'my_issues' %}id="current"{% endifequal %}
> {% trans "your issues" %} </a></li>
    <li><a href="{% url laws %}"
    {% ifequal current 'laws' %}id="current"{% endifequal %}
> {% trans "laws" %} </a></li>
    <li><a href="{% url ranking %}"
    {% ifequal current 'ranking' %}id="current"{% endifequal %}
> {% trans "members" %} </a></li>
    <li><a href="{% url juni_2010 %}"
    {% ifequal current 'juni_2010' %}id="current"{% endifequal %}
> {% trans "stemadvies" %} </a></li>
    <li><a href="http://www.democratiespel.nl/wiki/"
    {% ifequal current 'help' %}id="current"{% endifequal %}
>help</a></li>
    </ul>
{% endblock %}

{% block gamenews %}
<h2>.<img src="/media/img/chart_bar.png" alt=""/></h2>
    {% block search %}
        <form action="{% url search_issue %}" method="get">
            <input type="text" id="searchbox" name="searchbox"/>
            <input type="submit" name="search" value="{% trans "search issue" %}"/>
        </form>
    {% endblock %}

    <form action="/i18n/setlang/" method="post">
        <input name="next" type="hidden" value="{{ request.get_full_path }}"/>
        <select name="language" onchange="submit();">
        <option value="">{% trans 'pick language..' %}</option>
        {% for lang in LANGUAGES %}
            <option value="{{ lang.0 }}">{{ lang.1 }}</option>
        {% endfor %}
        </select>
        <input type="submit" value="Go" />
    </form>
{% endblock %}

{% block extra_head %}    
    <script type="text/javascript" src="/media/js/search.js"></script>
{% endblock %}
 

{% block userbar %}
    {% include "profiles/userbar.html" %}
{% endblock %}

{% block messagebar %}
    {% for m in messages %}<div class="notice">{{m}}</div>{% endfor %}
    {% if flash_msg %}<div class="success">{{ flash_msg }}</div>{% endif %}
{% endblock %}

{% block footer %}
   <!-- footer starts here -->  
    <div id="footer-wrap"><div id="footer-content"> 
    
        <div class="col float-left space-sep"> 
            {% blocktrans %}
<h2>Democracygame</h2> 
<ul class="columns"> 
     <li class="top"><a href="http://democratiespel.nl">Democratiespel</a></li> 
     <li><a href="http://democratiespel.nl/blog/?p=93/">Democratiespel mobile interface</a></li> 
     <li><a href="http://democratiespel.nl/blog/">Democratiespel Blog</a></li> 
     <li><a href="http://democratiespel.nl/wiki/">Democratiespel Wiki</a></li> 
     <li><a href="http://api.democratiespel.nl/api/v0/doc/">Application Programming Interface</a></li>
</ul>           
            {% endblocktrans %}
        </div> 
        <div class="col float-left"> 
            {% blocktrans %}
<h2>About us</h2> 
<ul class="columns">                
    <li class="top">a project of <a href="http://petities.nl">Petities.nl</a></li> 
    <li>thanks to seed capital from <a href="http://www.digitalepioniers.nl/projecten/Democratie-spel-nl/137">Digitale Pioniers</a></li> 
    <li>built by <a href="http://nl.linkedin.com/in/spreeker">Bara Software</a></li> 
    <li>source code in <a href="http://github.com/spreeker/democracygame">Github </a> </li>   
</ul> 
            {% endblocktrans %}
        </div>      
    
        <div class="col2 float-right"> 
            {% blocktrans %}
<h2>Supported by</h2> 
<ul class="columns"> 
    <li class="top"><a href="http://www.petities.nl">Petities.nl</a></li> 
    <li><a href="http://nl.linkedin.com/in/spreeker" title="spreeker">spreeker</a></li> 
    <li><a href="http://no-www.org/" title="no-www.org">class A no-www.org compliance</a></li> 
</ul> 
            {% endblocktrans %} 
            {% blocktrans %}
<p> 
Except where otherwise noted, content on this site is licensed under a 
<a rel="license" href="http://creativecommons.org/licenses/by/3.0/" class="subfoot">Creative Commons Attribution 3.0 License</a><br />
<a href="http://www.bluewebtemplates.com/" title="Website Templates">website templates</a> by <a href="http://www.styleshout.com/">styleshout</a> <br /> 
Valid <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> |
<a href="http://validator.w3.org/check/referer">XHTML</a> 
</p>
            {% endblocktrans %}
        </div> 
        <br class="clear" /> 
    </div></div> 
    <!-- footer ends here -->  
{% endblock %}

