{% load i18n %}<?xml version="1.0" encoding="utf-8" ?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--- code created by stephan preeker / bara software -->
<html xmlns="http://www.w3.org/1999/xhtml">
<head><title>{% block title %}{% trans "democracy game" %}{% endblock %} </title>
<link rel="stylesheet" href="/media/blueprint/screen.css" type="text/css" media="screen, projection" />
<link rel="stylesheet" href="/media/blueprint/print.css" type="text/css" media="print" />    
<meta name="google-site-verification" content="SAvGm7bTN2xLL6tgpKLU0jwn08UITM6hctXBTgOyetg" />
<!--[if lt IE 8]><link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
<link href="/media/index.css" rel="stylesheet" type="text/css" />
<LINK REL="SHORTCUT ICON" hreF="/media/favicon.ico">
<script type="text/javascript" src="/media/js/jquery.js"></script>
<script type="text/javascript" src="/media/js/jquery-ui-1.8.4.custom.min.js"></script>
<link rel="stylesheet" href="/media/css/jquery-ui-1.8.4.custom.css" type="text/css" media="screen, projection" />
{% block extra_head %} 
{% endblock %}
</head>

<body>
<div id="header" class="container " >
<div id="mainmenu" class="span-14">
    {% block mainmenu %} <a href="/">{% trans "mainpage" %}</a>  {% endblock %}
</div>
<div id="userbar" class="span-15 last " >
{% block userbar %}{% endblock %}
</div>
</div>

<div class="container">
<div id="sidebar" class="span-9">
  {% block sidebar %}&nbsp;{% endblock %}
</div>
<div id="bigcontent" class="span-20 last">
    {% block bigcontent %}{% endblock %}
<div id="content" class="span-15 ">
    {% block content %}{% endblock %}
</div>
<div id="gamenews" class="span-5 last">
{% block gamenews%}<h2>.<img src="/media/img/chart_bar.png" alt=""/></h2>{% endblock %}
    
<div id="messagebar"> 
{% block messagebar %}{% endblock %}
</div>
</div>
</div>
<div id="footer" class="span-29 last">
 {% block footer %}
 {% endblock %}
</div>
</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-18636668-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({appId: '124936464227391', status: true, cookie: true,
             xfbml: true});
  };
  (function() {
    var e = document.createElement('script');
    e.type = 'text/javascript';
    e.src = document.location.protocol +
      '//connect.facebook.net/en_US/all.js';
    e.async = true;
    document.getElementById('fb-root').appendChild(e);
  }());
</script>

</body>
</html>
