{% load i18n %}<h2>{% trans "Candidate" %}</h2>  
{% if personal %}<p>{% trans "Your candidate"%}:</p> {% endif %}

{% if candidate %} 
<h3><a href="{% url userprofile candidate %}">{{ candidate.username }}</a></h3>
{% else %} 
{% trans "No candidate chosen yet" %} 
{% endif %}


<h2>{% if personal %}{% trans "Your followers"%}
{% else %}{% trans "Followers" %}
{% endif %} </h2> 


{% if followers %}
   {% for candidate in followers %} 
        <h3><a href="{% url userprofile candidate.user %}">{{ candidate.user.username }}</a></h3>
    {% endfor %}
{% else %} {% trans "nobody's candidate" %}
{% endif %}


