{% extends "base.html" %}
{% load i18n %}

{% block content %}

<form method="post" action=".">
{% csrf_token %}
<table>
<tr>
<td>{{form.username.label_tag}}</td>
<td>{{form.username}}</td>
</tr>
<tr>
<td>{{form.password.label_tag}}</td>
<td>{{form.password}}</td>
</tr>
</table>
{% if form.errors %}
   {% trans "Try again, username and password don't match." %}
{% endif %}

<input type="submit" value="login">
<input type="hidden" value="{{next}}" name="next">
</form>
<a href={% url registration_register %}>{% trans "register" %}</a>
<a href={% url auth_password_reset %}>{% trans "reset password" %}</a>

{% endblock %}
