{% extends "base_content.html" %}
{% load i18n %}

{% block content %}
{% ifequal page.number 1 %} 
    <h2> {% trans "parliament" %} </h2> 
    <div id="pyramid">
        {% for level in parliament %}
            <div class="{% cycle "even" "odd" %}"> 
                {% for profile in level %}
                    <div class="pyramid_layer"><a href="{% url userprofile profile.user.username %}">*{{ profile.user.username }}*</a></div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endifequal %}

<h2> {% trans "Rankings" %} </h2> 
<div> 
    <table>
        <thead>
            <tr><th>{% trans "Rank" %}</th><th>{% trans "Name" %}</th><th>{% trans "Score" %}</th><th>{% trans "Role" %}</th></tr></thead>
        <tbody>
    {% for profile in page.object_list %}
        {% if profile.user == request.user %} 
            <tr class="notice">
        {% else %}
            <tr>
        {% endif %}
                <td>{{ profile.rank }}</td>
                <td><a href="{% url userprofile profile.user.username %}">{{ profile.user.username }}</a></td>
                <td>{{ profile.score }}</td>
                <td>{{ profile.role }}</td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
</div>
{% include "pagination.html" %}
{% endblock %}

{% block search %}
    <form action={% url search_user %} method="get">
        <input type="text" id="search_user" name="searchbox"/>
        <input type="submit" name="search" value="{% trans "search user" %}"/>
    </form>
{% endblock %}

{% block sidebar %}
    <h2> {% trans "parties" %} </h2> 
    <table><thead>
    <tr><th>{% trans 'party' %}</th><th>{% trans 'score' %}</th></tr></thead>
    <tbody> 
    {% for profile in party_programs %}
        <tr>
        <td><a href="{% url userprofile profile.user.username %}">{{ profile.user.username }}</a></td>
        <td>{{ profile.score }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}

{% block gamenews %}
    <h2> {% trans "departments" %} </h2>
    <table><thead>
        <tr><th>{% trans "ministry" %}</th><th>{% trans "name" %}</th></tr>
    </thead><tbody>
        {% for profile in ministers %} 
            <tr><td>?</td><td><a href="{% url userprofile profile.user.username %}">{{ profile.user.username }}</a></td></tr>
        {% empty %}
            <tr><td>?</td><td>?</td></tr> 
        {% endfor %}
    </tbody></table>
{% endblock %}
