{% extends "base_content.html" %}
{% load i18n %}
{% block content %}
<h2> Details for {{ user.username }} </h2>
{% with user.get_profile as profile %}
    {% trans "score" %}         <h3>{{profile.score}}</h3>
    {% trans "role" %}          <h3>{{profile.role}}</h3>
    {% trans "website" %}      <h3>{{profile.url|urlizetrunc:30}}</h3>
    {% trans "votes public" %} <h3>{{profile.votes_public}}</h3>
    {% trans "id verified" %}   <h3>{{profile.id_is_verified}}</h3>
    {% trans "description" %}   <h3>{{profile.description}}</h3>
    {% trans "email" %}         <h3>{{user.email}}</h3>
    {% trans "show identity" %} <h3>{{profile.show_identity}}</h3>
{% endwith %}

<form action="{% url change_description %}" method="POST">
{{ form.as_p }}
<input type="submit" value="Change profile"> 
</form>

<a href={% url auth_password_change %}>{% trans "change password" %}</a>
{% endblock %}

{% block sidebar %}
    <h2>{% trans "Your candidate" %}</h2>
    {% if candidate %}
        <p>
        <a href="{% url userprofile candidate %}">
        <h3>{{ candidate.username }}<h3></a>
    {% else %} {% trans "no candidate chosen yet" %} 
        </p>
    {% endif %}
{% endblock %}
