{% extends "base_content.html" %}
{% load i18n %}
{% block content %}
<h2> Details For Registered User {{ user.username }} </h2>
{% with user.get_profile as profile %}
email <h3>{{user.email}}</h3>
score <h3>{{profile.score}}</h3>
role <h3>{{profile.role}}</h3>
website <h3>{{profile.url|urlizetrunc:30}}</h3>
votes public <h3>{{profile.votes_public}}</h3>
id verified <h3>{{profile.id_is_verified}}</h3>
show identity <h3>{{profile.show_identity}}</h3>
description <h3>{{profile.description}}</h3>
{% endwith %}

<form action="{% url change_description %}" method="POST">
{{ form.as_p }}
<input type="submit" value="Change profile"> 
</form>

{% block sidebar %}
<a href={% url auth_password_change %}>{% trans "change password" %}</a>
{% endblock %}


{% endblock %}
