

{% extends "base_content.html" %}
{% load i18n %}

{% block content %}

<h2> Details For Registered User {{ user_to_show.username }} </h2>
    {% with user_to_show.get_profile as profile %}
    score <h3>{{profile.score}}</h3>
    role <h3>{{profile.role}}</h3>
    website <h3>{{profile.url|urlizetrunc:30}}</h3>
    votes public <h3>{{profile.votes_public}}</h3>
    id verified <h3>{{profile.id_is_verified}}</h3>
    description <h3>{{profile.description}}</h3>
    {% endwith %}
{% endblock %}
