{% extends "base_content.html" %}
{% load i18n %}

{% block content %}
<h2>{% trans "Details for registered user"%} {{ user_to_show.username }} </h2>
    {% with user_to_show.get_profile as profile %}
    {% trans "score" %}         <h3>{{profile.score}}</h3>
    {% trans "role" %}          <h3>{{profile.role}}</h3>
    {% trans "website" %}      <h3>{{profile.url|urlizetrunc:30}}</h3>
    {% trans "votes public" %} <h3>{{profile.votes_public}}</h3>
    {% trans "id verified" %}   <h3>{{profile.id_is_verified}}</h3>
    {% trans "description" %}   <h3>{{profile.description}}</h3>

    <h3><a href="{% url issue_list_user user_to_show.username %}">{% trans "issues proposed by"%}{{ user_to_show.username}}</a></h3>
    <h3><a href="{% url compare_votes_to_user user_to_show.username %}">{% trans "compare your votes with" %}{{user_to_show.username}}</a></h3>
    {% endwith %}
{% endblock %}

{% block sidebar %}
    <h2>{% trans "Candidate" %}</h2>
    {% if candidate %}
        <a href="{% url userprofile candidate %}">
        <h3>{{ candidate.username }}<h3></a>
    {% else %} {% trans "no candidate chosen yet" %} 
    {% endif %}
{% endblock %}
