{% extends "web/index.html" %}
{% load i18n %}

{% block content %}
	{% if account %}
	{% blocktrans %}	
	Welcome {{ account }} !

	Your account on edemocracy has been created. 

	You had {{ expiration_days }} expiration days left

	{% endblocktrans %}
    {% else %}
		{% trans "Something went wrong. Your account is probably already active" %}

	{% endif %}

	{% if votes_saved %}
        {% trans "Your previous anonymous votes have been saved to your profile!" %}
    {% endif %}

{% endblock %}
