/* custom democracy customizations on top of blueprint CSS */

a {
    text-decoration : none ;
}
a:hover {
    text-decoration : underline;
}
#sidebar #tags A:visited {
    color : gray ;
}   
h2 {
    text-align : center ;
    border-bottom : 0.05em solid #CCC;
    margin-bottom: 0.5em;
}
h4 {
    margin-top: 0.5em;
    text-align : center ;
}
.issues h4 {
    color: #CCC;
}

h4 a{
    margin-right: 1em;
    margin-left: 1em;
}
h3 {
    margin-bottom : 1.25em ;
}
#messagebar{
  position: fixed;
  top: 6em;
  left: auto;
  width: 9em;
  right: 2em;
}

/* header style declarations */

#header {padding:1.5em;margin-bottom:1.5em;
        color: #CCC;
}
#header a{
    margin-right: 0.5em;
    margin-left: 0.5em;
}
#header .score {
    display: inline;
    text-decoration: bold;
    color : green;
}

/* center content */
.centercontent {
    margin-left: 5.5em;
    margin-top: 1.5em;
}

td textarea {
    width: 300px; height:80px;  
}

.error th { background: #FBC2C4; }
.success th { background: #C6D880; }
.notice th { background:#FFD324; }


/* Issue display specific styles */
.issues p, 
.issues .title,
.issues .votecounts,
.issues .forms,
.issues h3 {
    margin-left : 4em ;
}
.issues p {
    margin-right: 4em;
}

#proposetips{
    margin-left : 0em;
}
.yourvote {

}
.issues {
    float : right;
    width : 100%;
}
.issues .scoretag {
    margin-left : 2em ;
    line-height : 1em;
}
.issues > ul {
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
}
.issues .forms {
    margin-top: 1em ;
}
.issues .scoretag,
.issues .forms form {
    display : inline ;
}
.issues ul li {
    border-bottom : 1px solid #CCC ;
    padding : 1.2em 1em 1.25em 0;
}
.issue_left {
    width : 3em ;
    float : left ; 
}

.votes p,
.votes .title,
.votes .forms,
.votes h3 {
    display : inline ;
}
.votes .forms {
    float : left;
}
.votes .title {
    margin-left : 3em ;
}
.votes .forms,
.votes .title,
.votes .yourvote {
    display : inline;
}
.votes .yourvote {
    float : right;
}
.votes > ul {
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
}
.votes ul li {
    border-bottom : 1px solid #CCC;
    padding : 1.2em 1em 1.25em 0;
}


/* Vote link/report style declarations */

.for {
    font-family: fantasy;
    font-size: large;
    color:green;
    padding:0em 1em 0em 1em;
}

.against {
    font-family: fantasy;
    font-size: large;
    color:red;
    padding:0em 1em 0em 1em;
}

.blank {
    font-family: fantasy;
    font-size: large;
    color:gray;
    padding:0em 1em 0em 1em;
}
/* tags */
#sidebar .green { color:#264409; }
#sidebar .yellow { color:#514721; }
#sidebar .red { color:#8a1f11 }

#footer {
    clear : both;
}
