/* custom democracy customizations on top of blueprint CSS */

a {
    text-decoration : none ;
}
h2 {
    text-align : center ;
    border-bottom : 0.05em solid black ;
    margin-bottom: 0em;
}
h4 {
    margin-top: 0em;
    text-align : center ;
}
h3 {
    margin-bottom : 1.25em ;
}

/* header style declarations */

.issues p, 
.issues .title,
.issues .votecounts,
.issues .forms,
.issues h3 {
    margin-left : 4em ;
}
#proposetips{
    margin-left : 0em;
}
.issues .yourvote {
    float : right;
}
.issues .scoretag {
    margin-left : 2em ;
    line-height : 1em;
}
.issues > ul {
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
}
.issues .forms {
    margin-top: 1em ;
}
.issues .scoretag,
.issues .forms form {
    display : inline ;
}
.issues ul li {
    border-bottom : 1px solid black ;
    padding : 1.2em 1em 1.25em 0;
}
.issue_left {
    width : 3em ;
    float : left ; 
}

.votes p,
.votes .title,
.votes .forms,
.votes h3 {
    display : inline ;
}
.votes .forms {
    float : left;
}
.votes .title {
    margin-left : 3em ;
}
.votes .forms,
.votes .title,
.votes .yourvote {
    display : inline;
}
.votes .yourvote {
    float : right;
}
.votes > ul {
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
}
.votes ul li {
    border-bottom : 1px solid black ;
    padding : 1.2em 1em 1.25em 0;
}

/* Issue display specific styles */

/* Vote link/report style declarations */

.for {
    background-color:#99ff99;
    color:black;
    padding:0em 1em 0em 1em;
}

.against {
    background-color:#ff6666;
    color:black;
    padding:0em 1em 0em 1em;
}

.blank {
    background-color:#cccccc;
    color:black;
    padding:0em 1em 0em 1em;
}

#footer {
    clear : both;
}



