{% extends "base_content.html" %}
{% load i18n %}
{% load voting_tags %}

{% block content %}
<div class="issues">

<h2>{% trans "your issues" %}</h2>
<h4><a href="{% url my_issues 'popular' %}"> {% trans 'popular' %} </a> |
    <a href="{% url my_issues 'controversial' %}">{%trans 'controversial' %}</a> | 
    <a href="{% url my_issues 'new' %}">{% trans 'new' %}</a> | </h4>

{% if issueform %}
       {% if actions.propose %}
        <div class="container">
        <div class="span-13 append-3">
        <h3> {% trans "propose your issue" %} </h3>
           <form action="{{ request.get_full_path }}" method="post">
        {% for field in issueform %}
            {% if field.errors %} 
            {% for error in field.errors %}
                <div class="error span-8 append-8">{{error}}</div> 
            {% endfor %}
            {% endif %}
            <div class="column span-5">
                {{ field.label_tag }}
            </div>
            <div class="column span-8 last"> {{ field }} </div>
        {% endfor %}
           <div class="column span-8 prepend-5 last">
           <input type="submit" value="{% trans "submit issue" %}"/>
           </div>
           </form>
        </div>
        <div id='proposetips' class="span-4 last">
        {% blocktrans %}
        Make sure you check your spelling. It is not possible to change your issue later.
        We do not allow change because people might have voted. If content changes,  votes
        are invalidated.You can archive and hide it by not publishing your issue.
        {% endblocktrans %}
        </div>
        </div>
        {% else %} <h2>{% trans "You cannot propose yet or anymore, you need more points" %}</h2>
        {% endif %}
{% endif %}

{% votes_by_user user on issues as vote_dct %}
{% vote_counts_for_objects issues as counts_dct %}

<h2> {% trans "proposed by you" %}</h2>
<ul>
{% for issue in issues %}

{% dict_entry_for_item issue from vote_dct as vote %}
{% dict_entry_for_item issue from counts_dct as score %}

<li id="issue{{ issue.pk }}" >
    <a name="{{issue.pk}}"></a>
    <h3> <a href="{{ issue.url }}">{{ issue }}</a> </h3> 
<div class="issue_left">
    {% if vote.vote %}
    <div class="for"> {{ score.1 }}</div>
    <div class="blank"> {{ score.0 }}</div>
    <div class="against"> {{ score.2 }}</div>
    {% endif %}
</div>
<p> {{ issue.body }} </p>
<div class="yourvote">
{% if vote.vote %}
{% for key , direction in possible_votes.items %}{% ifequal key vote.vote %}{% trans direction %}{% endifequal %}{% endfor %}
{% endif %}
</div>
<div class="votecounts">
{% for k, count in score.items %}
{% if count %}
{% for key , direction in possible_votes.items %}{% ifequal key k %}<div class="scoretag">{% trans direction %} {{count}} </div> {% endifequal %}{% endfor %}
{% endif %}
{% endfor %}
</div>
<div class="forms">
<form action="{% url vote issue.pk %}" method="post">
    <input type="hidden" name="direction" value="1" />
    <input type="hidden" name="next" value="{{ request.get_full_path }}#{{issue.pk}}" />
    <input type="submit" value="{% trans "YES" %}"/>
</form><form action="{% url vote issue.pk %}" method="post">
    <input type="hidden" name="direction" value="-1" />
    <input type="hidden" name="next" value="{{ request.get_full_path }}#{{issue.pk}}" />
    <input type="submit" value="{% trans "NO" %}"/>
</form><form action="{% url vote issue.pk %}" method="post">
    <input type="hidden" name="next" value="{{ request.get_full_path }}#{{issue.pk}}" />
    <select name="direction">
        {% for blank_vote in blank_votes %}
             <option value="{{ blank_vote.0 }}">{% trans blank_vote.1 %}</option>
        {% endfor %}
    </select>
    <input type="submit" value="{% trans "blank" %}"/>
</form>
<form action="{% url publish issue.pk %}" method="post">
    <input type="hidden" name="next" value="{{ request.get_full_path }}#{{issue.pk}}" />
    <input type="hidden" value={% if issue.is_draft %}"0"{% else %}"1"{% endif %} name="is_draft"/>
    <input type="submit" value="{% if issue.is_draft %}{% trans "publish" %}{% else %}{% trans "hide" %}{% endif %}"/>
</form>

<form action="{% url multiply issue.pk %}" method="post">
    <input type="hidden" name="next" value="{{ request.get_full_path }}#{{issue.pk}}" />
    <input type="submit" value="{% trans "multiply" %}"/>
</form>
<form action="{% url tag_issue issue.pk %}" method="post">
    <input type="hidden" name="next" value="{{ request.get_full_path }}#{{issue.pk}}" />
    <input type="text" name="tags" maxlength="100" value="{% for tag in issue.tags %}{{tag}}, {% endfor %}" />
    {# hits the db each time optimze like voting?? #}
    <input type="submit" value="{% trans "tag" %}"/>
</form>
{% trans "created by" %} {{ issue.user }}
</div>{# end forms #}
</li>
{% endfor %}
</ul>
</div>

<div class="pagination">
    <span class="step-links">
        {% if page.has_previous %}
            <a href="?page={{ page.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page.number }} of {{ page.paginator.num_pages }}.
        </span>

        {% if page.has_next %}
            <a href="?page={{ page.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock %}

{%block sidebar %}
    {% include "dashboard/tag_cloud.html" %}
    &nbsp;
{% endblock %}

