{% extends "base_content.html" %}
{% load i18n %}
{% load voting_tags %}

{% block gamenews %}
{% if actions.propose %}
        <div class="notice">
        {% blocktrans %}
        Make sure you check your spelling. It is not possible to change your issue later.
        We do not allow change because people might have voted. If content changes,  votes
        are invalidated. You can archive / hide the old issue by not publishing your issue.
        {% endblocktrans %}
        </div>
{% endif %}
{% endblock %}

{% block content %}

<h2>{% trans "Propose issues" %}</h2>
{% if actions.propose %}
<p></p>
<fieldset>
<form action="{{ request.get_full_path }}" method="post">
<table>
{% for field in issueform %} 
{% for error in field.errors %}
    <tr><td></td><td class="error">{{error}}</td></tr>
{% endfor %}
   <tr><th>{{ field.label_tag }}</th><td>{{ field }}</td></tr>
{% endfor %}
   <tr><td> <input type="submit" value="{% trans "submit issue" %}"/></td></tr>
</table>
</form>
</fieldset>
<div class="issues">
{% votes_by_user user on issues as vote_dct %}
{% vote_counts_for_objects issues as counts_dct %}

<h2> {% trans "Proposed by you" %}</h2>
<h4><a href="{% url issue_list 'popular' %}"> {% trans 'popular' %} </a> |
    <a href="{% url issue_list 'for' %}">{% trans 'for' %}</a> | 
    <a href="{% url issue_list 'controversial' %}">{%trans 'controversial' %}</a> | 
    <a href="{% url issue_list 'against' %}">{% trans 'against' %}</a> 
    <a href="{% url issue_list 'new' %}">{% trans 'new' %}</a> |
</h4>

<ul>
{% for issue in issues %}

{% dict_entry_for_item issue from vote_dct as vote %}
{% dict_entry_for_item issue from counts_dct as score %}

<li id="issue{{ issue.pk }}" >
    <r name="{{issue.pk}}"></a>
    <h3> <a href="{{ issue.url }}">{{ issue }}</a> </h3> 
<div class="issue_left">
    {% if vote.vote %}
    <div class="for"> {{ score.1 }}</div>
    <div class="blank"> {{ score.0 }}</div>
    <div class="against"> {{ score.2 }}</div>
    {% endif %}
</div>
<p> {{ issue.body }} </p>
<div class="yourvote">
{% if vote.vote %}
{% for key , direction in possible_votes.items %}{% ifequal key vote.vote %}{% trans direction %}{% endifequal %}{% endfor %}
{% endif %}
</div>
<div class="votecounts">
{% for k, count in score.items %}
{% if count %}
{% for key , direction in possible_votes.items %}{% ifequal key k %}<div class="scoretag">{% trans direction %} {{count}} </div> {% endifequal %}{% endfor %}
{% endif %}
{% endfor %}
</div>
<div class="forms">
<form action="{% url vote issue.pk %}" method="post">
    <input type="hidden" name="direction" value="1" />
    <input type="hidden" name="next" value="{{ request.get_full_path }}#{{issue.pk}}" />
    <input type="submit" value="{% trans "YES" %}"/>
</form><form action="{% url vote issue.pk %}" method="post">
    <input type="hidden" name="direction" value="-1" />
    <input type="hidden" name="next" value="{{ request.get_full_path }}#{{issue.pk}}" />
    <input type="submit" value="{% trans "NO" %}"/>
</form><form action="{% url vote issue.pk %}" method="post">
    <input type="hidden" name="next" value="{{ request.get_full_path }}#{{issue.pk}}" />
    <select name="direction">
        {% for blank_vote in blank_votes %}
             <option value="{{ blank_vote.0 }}">{% trans blank_vote.1 %}</option>
        {% endfor %}
    </select>
    <input type="submit" value="{% trans "blank" %}"/>
</form>
<form action="{% url publish issue.pk %}" method="post">
    <input type="hidden" name="next" value="{{ request.get_full_path }}#{{issue.pk}}" />
    <input type="hidden" value={% if issue.is_draft %}"0"{% else %}"1"{% endif %} name="is_draft"/>
    <input type="submit" value="{% if issue.is_draft %}{% trans "publish" %}{% else %}{% trans "hide" %}{% endif %}"/>
</form>

<form action="{% url multiply issue.pk %}" method="post">
    <input type="hidden" name="next" value="{{ request.get_full_path }}#{{issue.pk}}" />
    <input type="submit" value="{% trans "multiply" %}"/>
</form>
<form action="{% url tag_issue issue.pk %}" method="post">
    <input type="hidden" name="next" value="{{ request.get_full_path }}#{{issue.pk}}" />
    <input type="text" name="tags" maxlength="100" value="{% for tag in issue.tags %}{{tag}}, {% endfor %}" />
    {# hits the db each time optimze like voting?? #}
    <input type="submit" value="{% trans "tag" %}"/>
</form>
{% trans "created by" %} {{ issue.user }}
</div>{# end forms #}
</li>
{% endfor %}
</ul>
</div>
{% else %} <p class="notice">{% trans "You cannot propose yet, you need more points" %}</p>
{% endif %}


<div class="pagination">
    <span class="step-links">
        {% if page.has_previous %}
            <a href="?page={{ page.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page.number }} of {{ page.paginator.num_pages }}.
        </span>

        {% if page.has_next %}
            <a href="?page={{ page.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock %}

{%block sidebar %}
    {% include "dashboard/tag_cloud.html" %}
    &nbsp;
{% endblock %}

